header {
  background: #00bcd4;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center; }
  header img {
    margin: 20px auto;
    padding: 20px 0;
    text-align: center; }

.card {
	min-height: 200px;
}

.home-card {
	min-height: 70px;

}