
<div class="modal-body"
    ng-swipe-left="Lightbox.nextImage()"
    ng-swipe-right="Lightbox.prevImage()">
  <!-- title -->

  <div class="lightbox-title-container">
    <span class="title">{{ Lightbox.title }}</span><!-- 
  <button class="close" aria-hidden="true" ng-click="$dismiss()">×</button> -->
    <button type="button" class="close" aria-label="Close" aria-hidden="true" ng-click="$dismiss()"><span aria-hidden="true">&times;</span></button>
  </div>

  <div class="lightbox-image-container">
    
    <!-- image -->
    <img lightbox-src="{{ Lightbox.imageUrl }}">
 
  </div>

  <div class="lightbox-nav">
    <!-- navigation -->
    <div class="btn-group" ng-if="Lightbox.images.length > 1">
      <a class="btn btn-xs btn-default" ng-click="Lightbox.prevImage()">
        ‹ Previous
      </a>

      <a class="btn btn-xs btn-default" ng-click="Lightbox.nextImage()">
        Next ›
      </a>
    </div>
  </div>
</div>